doctype html
html
  head
    title Just Joking
    link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", rel="stylesheet")
    link(href='/stylesheets/style.css', rel="stylesheet")
  body
    div.row
      div.col-sm-12

    block content
